.general {
    width: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

mat-form-field {
    width: 100%;
}

input {
    width: 100%;
}

label {
    padding-left: 10px;
}